<footer class="Footer">
  <div class="Container Grid Grid--gutters Grid--full small-Grid--fit">
    <div class="Grid-cell">
      <p class='u-padding-bottom'>We <3 our <a href="https://github.com/ember-cli-deploy/ember-cli-deploy/graphs/contributors">contributors</a>.</p>
      <p>
        <small>
          Icons made by <a href="http://www.flaticon.com/authors/picol" title="Picol">Picol</a> and <a href="http://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>.
        </small>
      </p>
      <p>
        <small>
          Licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a>
        </small>
      </p>
    </div>
    <div class="Grid-cell">
      <div class="Github-stars">
        <iframe src="https://ghbtns.com/github-btn.html?user=ember-cli&repo=ember-cli-deploy&type=star&count=true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
      </div>
    </div>
  </div>
</footer>

