<header class="Header">
  <div class="Header__container">
    <nav class='Header__nav'>
      <ul class='Header__nav-list'>
        <li class='Header__nav-item'>
          <a href='{{ site.baseurl }}/docs/{{site.default_version}}' class="Header__nav-item-link{% if page.url contains '/docs' %} active{% endif %}">Docs</a>
        </li>
        <li class='Header__nav-item'>
          <a href='{{ site.baseurl }}/plugins' class="Header__nav-item-link{% if page.url == '/plugins/' %} active{% endif %}">Plugins</a>
        </li>
        <li class='Header__nav-item'>
          <a href='{{ site.baseurl }}/resources' class="Header__nav-item-link{% if page.url contains '/resources' %} active{% endif %}">Resources</a>
        </li>
        <li class='Header__nav-item'>
          <a href="{{ site.url }}" class='Header__nav-item-link' target="_blank">GitHub</a>
        </li>
      </ul>
    </nav>
    <a class="Header__logo" href="{{ site.baseurl }}/">
      <span class='Header__logo-minor'>Ember CLI</span>
      <span class='Header__logo-major'>Deploy</span>
    </a>
  </div>
</header>
