// @import 'materialize';

// /* FIXME: Workaround for https://github.com/Dogfalo/materialize/issues/1079 */
// @each $mdi-icon-name, $mdi-icon-value in $mdi-list-icons {
//   .#{$mdi-prefix}#{$mdi-icon-name}:before {
//     content: "\""+ $mdi-icon-value +"\"";
//   }
// }
