.Docs-page {
  margin-bottom: 40px;

  @include above($breakpoint) {
    margin-left: 0;
    margin-right: 20px;
  }

  h2 {
    font-size: 17px;
    margin-top: 40px;
    margin-bottom: 20px;
    color: #333;
  }

  &__version {
    margin-bottom: 10px;

    @include above($breakpoint) {
    //   // text-align: right;
      color: $sidebar-text-subtle;
    //   margin-bottom: 0.2em;
    //   border-bottom: 1px solid rgba($sidebar-text-subtle, 0.2);
    //   font-size: 18px;
      margin-top: 4em;
    }
    select {
      font-size: 16px;
      width: 40%;
      margin-left: 10px;

      // @include above($breakpoint) {
      //   float: right;
      // }
    }
  }
  &__title {
    margin-top: 0;
    margin-bottom: 15px;
  }

  &__content {
  }

  &__aside {
    float: right;
    color: #999;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-left: 40px;
    font-size: 0.8em;
    max-width: 180px;

    @include below($breakpoint) {
      display: none;
    }

    p {
      margin-bottom: 0;
    }
  }

}
