// $header-height: 50px;
.Header {
  background: $orange;
  color: white;
  width: 100%;
  z-index: 100;
  line-height: 1;

  &__logo {
    color: inherit;
    font-size: 24px;
    display: block;
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 0.7em;
    border: none;
    @include above($small-breakpoint) {
      margin-top: 4px;
      padding-left: 15px;
      text-align: left;
      float: left;
    }

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
  &__container {
    @include above($breakpoint) {
      max-width: 960px;
      padding-left: 1rem;
      padding-right: 1rem;
      margin-left: auto;
      margin-right: auto;
    }
  }
  &__logo-minor {
    font-size: 15px;
    padding: 1px 2px;
    font-weight: normal;
    border: 1px solid;
    border-radius: 4px;
    display: inline-block;
    opacity: 0.8;
    text-transform: uppercase;
    font-family: monospace;

    @include above($small-breakpoint) {
      font-size: 12px;
      vertical-align: middle;
      line-height: 16px;
    }
  }
  &__logo-major {
    display: block;
    font-size: 28px;
    margin-top: 4px;

    @include above($small-breakpoint) {
      display: inline;
      font-size: 20px;
    }
  }
  &__nav {
    display: block;
    @include above($small-breakpoint) {
      float: right;
      width: 70%;
    }
  }
  &__nav-list {
    list-style-type: none;
    margin-bottom: 0;
    padding-left: 0;
    display: table;
    width: 100%;
    overflow: hidden;

    @include above($small-breakpoint) {
      text-align: right;
      width: auto;
      margin-bottom: 0;
      float: right;
    }
  }
  &__nav-item {
    display: table-cell;
    width: 25%;
    text-align: center; 

    @include above($small-breakpoint) {
      display: block;
      width: auto;
      float: left;
    }
  }
  &__nav-item-link {
    background: darken($orange, 20%);
    border: none;
    color: rgba(255,255,255,0.80);
    display: block;
    float: left;
    font-size: 14px;
    padding-bottom: 15px;
    padding-top: 15px;
    width: 100%;
    opacity: 0.8;

    @include above($small-breakpoint) {
      padding: 25px 17px;
      width: auto;
      background: inherit;
      color: inherit;
      font-weight: 500;
    }
    @include above($med-breakpoint) {
      font-size: 16px;
    }

    &:focus {
      text-decoration: none;
    }
    &:hover {
      text-decoration: none;
      opacity: 1;
    }
    &.active {
      opacity: 1;
      background: $orange;
      color: white;

      @include above($small-breakpoint) {
        background-color: white;
        color: $orange;
      }
    }
  }
}
